@media only screen and (min-width: 1020px) {
  .navbtn {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 35%;
  }
}
