@media only screen and (min-width: 760px) {

  .navbtn {
    display: none;
  }

  nav {
    position: relative;
  }
  nav ul {
    display: flex;
    position: absolute;
    top: 0px;
    left: 35%;
  }
  nav ul li {
    margin: 0px;
  }
  nav ul li a {
    padding: 7px 10px;
  }
/* news css */
  .news {border: 2px solid black;
    display: flex;
    flex-wrap:  wrap;
  margin: 10px auto;
justify-content: center;}
.news img {width: 300px;
}

}
